.header {
  background-color: black;
  color: white;
}

.currency-list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  font-weight: 600;
}

.currency-list__value {
  font-weight: 400;
}
